# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SKSSL.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build Folders
bin/
obj/
Generated/
**/bin/
**/obj/
**/Generated/
**/*.g.cs

# Rider
.idea/
*.sln.iml

# TestResultsFolder
**/TestResults/
TestResultsl/

# VZYaml Folder
**/VZYaml/
VZYaml/

# User-specific
*.user
*.userprefs
*.suo
*.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Links
*.lnk